{% extends 'base.html' %}

{% block content %}
<div class="container w-75" id="page-content">
    <!-- HEADER TEXT -->
    <header class="row mt-2 py-1 text-center">
        <div class="col-12 px-0 h4">Contribute a Book</div>
    </header>
    <!-- FLASHED MESSAGES -->
    {% include 'flashes.html' %}
    <!-- FORM CONTENT -->
    <div class="row">
        <aside class="col-7 col-md-6 col-lg-5 ps-0 pe-4 mx-auto">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group my-2">
                    <fieldset id="title-field">
                        <small class="ms-1 mb-1 text-secondary">{{ form.title.label }}</small>
                        {{ form.title(class='form-control', placeholder='book title') }}
                    </fieldset>
                    <fieldset id="isbn-field">
                        <small class="ms-1 mb-1 text-secondary">{{ form.isbn.label }}</small>
                        {{ form.isbn(class='form-control', placeholder='book ISBN') }}
                    </fieldset>
                    <fieldset id="author-field">
                        <small class="ms-1 mb-1 text-secondary">{{ form.author.label }}</small>
                        {{ form.author(class='form-control', placeholder='book author') }}
                    </fieldset>
                    <fieldset id="page-count-field">
                        <small class="ms-1 mb-1 text-secondary">{{ form.page_count.label }}</small>
                        {{ form.page_count(class='form-control', placeholder='page count') }}
                    </fieldset>
                    <fieldset id="is-hardcover-field">
                        <small class="ms-1 mb-1 text-secondary">{{ form.is_hardcover.label }}</small>
                        {{ form.is_hardcover(class='form-control') }}
                    </fieldset>
                </div>
                <!-- SUBMIT BUTTON -->
                <div class="col-6 mx-auto">{{ form.submit_button(class='btn btn-success btn-block mt-3 w-100') }}</div>
            </form>
        </aside>
    </div>
</div>
{% endblock %}