{% extends 'base.html' %}

{% block content %}
<div class="container w-75" id="page-content">
    <!-- HEADER TEXT -->
    <header class="row mt-2 py-1 text-center">
        <div class="col-12 px-0 h4">User Info</div>
    </header>
    <!-- FLASHED MESSAGES -->
    {% include 'flashes.html' %}
    <!-- USER PROFILE DETAILS -->
    <section class="row mt-3">
        <div class="col-12 col-md-11 col-lg-10 mx-auto ps-1 pe-0">
            <ul class="list-group">
                <li class="list-group-item"><strong>Email:</strong> {{ current_user.email }}</li>
                <li class="list-group-item"><strong>Token:</strong> <samp>{{ current_user.token }}</samp></li>
            </ul>
        </div>
    </section>

    <!-- HEADER TEXT -->
    <header class="row mt-3 pt-4 pt text-center">
        <div class="col-12 px-0 h4">Catalogued Books</div>
    </header>
    <!-- BOOKS LIST -->
    {% include 'booklist.html' %}
</div>
{% endblock %}